/*
  Template for Mountain cam
  Written by Nicolas Mauchle

*/

body {
    margin:0;
    padding:0;
    font-size:12px;
    font-family:verdana, Arial, Helvetica, sans-serif;
    color:#333333;
    background-color:#eeeeee;
}

.header {
    position: relative;
    margin: 0;
    width: 100%;
    float: left;
    color: #C4C5C3;
    background-color: #2D3134;

}

.header #logo {
    float:left;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 15px;
}

.header #logo h1 {
    font-size:32px;
}

.header #logo p {
    font-size: 16px;
}

.header #topnav {
    font-family: Verdana,Arial;
    font-size: 16px;
    float: right;
    margin-top: 60px;
}

.header #topnav li {
    list-style:none;
    float: left;
    margin-right: 55px;
}

.header #topnav a {
    text-decoration: none;
}

.header li a:link, .header li a:visited, .header li a:hover{
	margin:0;
	padding:0 3px 10px 3px;
	color:#FFFFFF;
	background-color:#2D3134;
	border-bottom:1px solid #2D3134;
	}

.header li a:hover, .header li.active a{
	color:#02ACEE;
	background-color:#2D3134;
	border-bottom-color:#02ACEE;
	}

.header #topnav li.last{
	margin-right:0;
	}

.main {
    width: 100%px;
    background-color: #02ACEE;
}


.main #image  {
    height: 350px;
    position: center;
    padding-top: 15px;
    padding-left: 35px;
}

.clear{clear: both;}